:root {
    --modula-theme-primary: #1a1a1a;
    --modula-theme-text: #6b6b6b;
    --modula-accent-1: #37393A;
    --modula-accent-2: #77b6ea;
    --modula-accent-3: #c7d3dd;
    --modula-accent-4: #d6c9c9;
    --modula-accent-5: #e8eef2;
    --modula-admin-bar-height: 32px;
    --modula-sidebar-width: 100px;
    --modula-admin-bar-font-size: 12px;
    --modula-hover-transition-duration: 150ms;
}

* {
    box-sizing: border-box !important;
    font-family: sans-serif, system-ui, -apple-system;

    text-decoration: none !important;
    margin: 0;
    padding: 0;
    color: var(--modula-theme-text);

    :marker {
        content: unset;
    }
}

html {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    min-height: calc(100vh - 1px);
    background: var(--modula-theme-primary);
}

input,
select,
textarea {
    background: #555;
}

select {
    background: #555;
    color: #777;
}

.bg-white {
    background: white !important;
}


.modula-admin {
    display: grid;
    position: fixed;
    width: 100vw;
    z-index: 5;
    grid-area: adminbar;
    background: var(--modula-accent-1);
    height: var(--modula-admin-bar-height);

    .modula-admin-nav {
        display: grid;
        grid-column: 1/-1;
        grid-template-columns: 1fr 1fr;

        .modula-admin-primary {
            display: grid;
            grid-template-columns: var(--modula-sidebar-width) 1fr;
            margin-right: auto;
            align-items: center;

            .modula-admin-logo-link {
                grid-column: 1/2;
                place-items: center;

                a.admin-logo-link {
                    display: flex;
                    align-items: center;
                    color: white;
                    height: 100%;
                    text-decoration: none !important;
                    font-size: 1.5rem;
                    font-weight: 900;
                    width: 100%;
                    text-shadow: -1px -1px 2px var(--modula-accent-2);
                    cursor: pointer;
                    transition: text-shadow var(--modula-hover-transition-duration), transform var(--modula-hover-transition-duration);
                    justify-content: center;

                    &:hover {
                        transform: skewX(-4deg);
                    }
                }
            }

            .modula-admin-primary-links {
                height: 100%;
                grid-column: 2/-1;

                ul {

                    height: 100%;

                    li {
                        display: flex;
                        gap: 5px;
                        justify-content: center;
                        width: 100px;

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: white;
                            background: transparent;
                            padding-left: 0.25rem;
                            padding-right: 0.25rem;
                            height: 100%;
                            width: 100%;
                            text-decoration: none !important;
                            font-size: var(--modula-admin-bar-font-size);
                            transition: background var(--modula-hover-transition-duration), color var(--modula-hover-transition-duration);
                            cursor: pointer;

                            &:hover {
                                color: #000000;
                                background: var(--modula-accent-2);
                            }
                        }

                        height: 100%;
                    }
                }


            }
        }

        .modula-admin-secondary {

            display: flex;
            margin-left: auto;

            li {
                display: flex;
                width: 100%;
                height: 100%;

                a {
                    display: flex;
                    align-items: center;
                    color: white;
                    background: transparent;
                    padding-left: 0.45rem;
                    padding-right: 0.45rem;
                    height: 100%;
                    font-size: var(--modula-admin-bar-font-size);
                    transition: background var(--modula-hover-transition-duration), color var(--modula-hover-transition-duration);
                    cursor: pointer;

                    &:hover {
                        color: #000000;
                        background: var(--modula-accent-2);
                    }
                }

            }
        }
    }

}

.modula-sidebar {
    position: fixed;
    height: calc(100vh);
    margin-top: var(--modula-admin-bar-height);
    width: var(--modula-sidebar-width);
    background: var(--modula-accent-1);
    grid-area: adminside;
    z-index: 3;

    nav {
        height: 100%;

        ul {
            display: grid;
            grid-auto-rows: max-content;
            height: 100%;

            .modula-sidebar-link-item {
                display: flex;
                flex-flow: column;
                width: 100%;
                height: 100%;

                &.active {
                    background: var(--modula-accent-3);

                    .menu-link {
                        color: #0f3b57;

                    }
                }

                .menu-link {
                    color: var(--modula-accent-5);
                    padding-left: 0.25rem;
                    padding-right: 0.25rem;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    background: transparent;
                    text-align: left;
                    font-size: 16px;
                    transition: background var(--modula-hover-transition-duration), color var(--modula-hover-transition-duration);
                    cursor: pointer;
                    width: 100%;

                    &:hover {
                        color: #000000;
                        background: var(--modula-accent-2);
                    }
                }

                .modula-sidebar-submenu {
                    display: flex;
                    flex-flow: column;
                    padding-top: 0;
                    background: var(--modula-accent-2);
                    margin: 0;
                }
            }
        }
    }

    .modula-sidebar-links {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
}

.navigation {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: inherit;
    background: black;
    height: 64px;
}

.navigation ul.active-area {
    width: 100%;
    height: 100%;
    grid-column: 2/-2;
}

.navigation ul li {
    list-style: none;
}

.navigation ul li a {
    color: white;
}

.primary-grid-parent {
    display: grid;
    grid-template-rows: var(--modula-admin-bar-height) 1fr;
    grid-template-columns: 100px 1fr;
    grid-template-areas: "adminbar adminbar"
        "adminside admin";

}

.nested-grid {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: inherit;
}

.editor-grid {
    grid-area: admin;
    position: relative;
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 300px;
}

.grid-content-container {
    grid-column: 2/-2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.grid-form-container {
    grid-column: 2/-2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    place-items: center;
}

.add-post-form {
    padding: 1rem;

}

.form {
    grid-column: 1/-1;
    width: 300px;
    display: grid;

    >* {
        color: white;
    }
}

select.form-label {
    font-size: 1.4rem;
    color: #fff;

}

select.form-select {
    font-size: 1rem;
    border-radius: 5px;

}


.card {
    grid-column: span 2;
    min-height: 300px;
    background: purple;
}


.users-editor {
    background: white;
}
