package components

import "modulacms.com/content"

templ CodeBlockComponent(cb content.CodeBlock) {
	<figure class="mt-10">
		<pre class="code-block" data-language={ cb.Language }><code>{ cb.Code }</code></pre>
		if cb.Caption != "" {
			<figcaption class="mt-4 text-sm/6 text-fg-faint">{ cb.Caption }</figcaption>
		}
	</figure>
}
