package components

import "modulacms.com/content"

templ ColumnsComponent(cols content.Columns) {
	<div class="grid gap-x-8 gap-y-16" style={ cols.GridStyle() }>
		for _, cta := range cols.CTAs {
			@CTABlock(cta)
		}
		for _, card := range cols.Cards {
			@CardBlock(card)
		}
		for _, rt := range cols.RichTexts {
			@RichTextBlock(rt)
		}
		for _, child := range cols.Resolved {
			@ChildNode(child)
		}
	</div>
}
