package components

import "modulacms.com/content"

templ GridComponent(grid content.Grid) {
	<section class="grid gap-x-8 gap-y-16 py-24 sm:py-32">
		for _, area := range grid.Areas {
			@AreaComponent(area)
		}
		for _, child := range grid.Resolved {
			@ChildNode(child)
		}
	</section>
}

templ AreaComponent(area content.Area) {
	<div class="flex flex-col gap-y-8">
		for _, child := range area.Resolved {
			@ChildNode(child)
		}
	</div>
}
