package components

import "modulacms.com/content"

templ ImageBlock(img content.Image) {
	if img.MediaURL != "" {
		<figure class="image-block">
			<img src={ img.MediaURL } alt={ img.AltText }/>
			if img.Caption != "" {
				<figcaption>{ img.Caption }</figcaption>
			}
		</figure>
	}
}
