package components

templ Layout(title string, metaDescription string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title }</title>
			<meta name="description" content={ metaDescription }/>
			<link rel="icon" type="image/svg+xml" href="/static/favicon.svg"/>
			<link rel="stylesheet" href="/static/app.css"/>
			<script src="/static/htmx.min.js" defer></script>
		</head>
		<body>
			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				{ children... }
			</div>
		</body>
	</html>
}
