package components

import "modulacms.com/content"

templ RowComponent(row content.Row) {
	<section class="py-24 sm:py-32">
		<div class="flex flex-col gap-6">
			for _, cols := range row.Columns {
				@ColumnsComponent(cols)
			}
			for _, child := range row.Resolved {
				@ChildNode(child)
			}
		</div>
	</section>
}
