package components

import "modulacms.com/content"

templ SectionBlock(sec content.Section) {
	<section class="mb-16">
		if sec.Heading != "" {
			<h2 id={ content.Slugify(sec.Heading) } class="text-3xl font-semibold tracking-tight text-pretty text-fg scroll-mt-20">{ sec.Heading }</h2>
		}
		if sec.Content != "" {
			<div class="rich-text mt-6">
				@templ.Raw(sec.Content)
			</div>
		}
	</section>
}
