package components

import "modulacms.com/content"

templ TextBlock(t content.Text) {
	<p class="col-span-full text-4xl font-semibold tracking-tight text-balance text-fg sm:text-5xl">{ t.Content }</p>
}
