{{define "base"}}
<!DOCTYPE html>
<html lang="en">
{{template "head" .}}

<body class="bg-gray-900 primary-grid-parent">
    <header class="modula-admin">
            {{template "modula-admin" .}}
        <nav class="modula-admin-nav">

            <ul class="modula-admin-primary">
                <li class="modula-admin-logo-link">
                    <a href="/" class="admin-logo-link">M</a>
                </li>
                <li class="modula-admin-primary-links">
                    <ul>
                        <li>
                            <a href="/" class="admin-bar-link">Placeholder</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="modula-admin-secondary">
                <li>
                    <a href="/admin/github" class="admin-bar-link">Github</a>
                </li>
                <li>
                    <a href="/admin/support" class="admin-bar-link">Support</a>
                </li>
                <li>
                    <a href="/admin/documentation" class="admin-bar-link">Documentation</a>
                </li>
                <li>
                    <a href="/admin/help" class="admin-bar-link">Help</a>
                </li>
                <li>
                    <a href="/admin/logout" class="admin-bar-link">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    <aside class="modula-sidebar">
        <nav class="modula-sidebar-primary">
            <ul class="modula-sidebar-links">
                <li class="modula-sidebar-link-item">
                    <button hx-post="state/sidebar/dashboard/clicked" hx-trigger="click" hx-target="#editor"
                        hx-swap="innerHTML" class="menu-link">Dashboard</button>
                </li>
                <li class="modula-sidebar-link-item">
                    <a href="/admin/routes" class="menu-link">Routes</a>
                </li>
                <li class="modula-sidebar-link-item active">
                    <a href="/admin/datatypes" class="menu-link">Datatypes</a>
                    <ul class="modula-sidebar-submenu">
                        <li class="modula-sidebar-link-item">
                            <a href="/manage" class="menu-link">Manage</a>
                        </li>
                        <li class="modula-sidebar-link-item">
                            <a href="/addnew" class="menu-link">Add New</a>
                        </li>
                    </ul>
                </li>
                <li class="modula-sidebar-link-item">
                    <a href="/admin/fields" class="menu-link">Fields</a>
                </li>
                <li class="modula-sidebar-link-item">
                    <a href="/admin/media" class="menu-link">Media</a>
                </li>
                <li class="modula-sidebar-link-item">
                    <a href="/admin/plugins" class="menu-link">Plugins</a>
                </li>
                <li class="modula-sidebar-link-item ">
                    <a href="/admin/users" class="menu-link">Users</a>
                </li>
            </ul>
        </nav>
        <nav class="modula-sidebar-secondary">
            <ul>
                <li class="modula-sidebar-link-item">
                    <a href="/admin/setting" class="menu-link">Setting</a>
                </li>
            </ul>
        </nav>
    </aside>
        <main class="p-5" style="grid-area: admin;">
            {{template "content" .Content}}

        </main>
    <script src="public/js/index.js"></script>
    <script src="public/js/htmx.min.js"></script>
    <script defer src="public/js/bundle.js"></script>
</body>

</html>
{{end}}
