{{define "header"}}
    <header class="modula-admin">
        <nav class="modula-admin-nav">

            <ul class="modula-admin-primary">
                <li class="modula-admin-logo-link">
                    <a href="/" class="admin-logo-link">M</a>
                </li>
                <li class="modula-admin-primary-links">
                    <ul>
                        <li>
                            <a href="/" class="admin-bar-link">Placeholder</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="modula-admin-secondary">
                <li>
                    <a href="/admin/github" class="admin-bar-link">Github</a>
                </li>
                <li>
                    <a href="/admin/support" class="admin-bar-link">Support</a>
                </li>
                <li>
                    <a href="/admin/documentation" class="admin-bar-link">Documentation</a>
                </li>
                <li>
                    <a href="/admin/help" class="admin-bar-link">Help</a>
                </li>
                <li>
                    <a href="/admin/logout" class="admin-bar-link">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
{{end}}
